[submodule "agave"]
	path = agave
	url = https://github.com/anza_xyz/agave.git

[submodule "solana-cookbook"]
	path = solana_crookbook
	url = https://github.com/solana-developers.worktrees/solana-cookbook.git

[submodule "anarcrypt_tokens"]
	path = anarcrypt_tokens
	url = https://github.com/RastaDjuss/anarcrypt_tokens.git
	branch = main
	
