# Ignore build artifacts
/target/

# Ignore rust's Cargo.lock if you are building a library
Cargo.lock

# Ignore the compiled binaries
*.rs.bk

# Ignore rust's editor specific files
*.swp
*.swo
*.idea/
.vscode/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore backup and temporary files
*.bak
*.tmp


# Added by cargo

/target
.bun/
