[submodule "anarcrypt-blockchain/frontend/Metaverse-Developement/Blockchains/solana"]
        path = anarcrypt-blockchain/frontend/Metaverse-Developement/Blockchains/solana
        url = git@github.com:RastaDjuss/solana.git

[submodule "target/rustup-components-history"]
        path = target/rustup-components-history
        url = https://github.com/rust-lang/rustup-components-history.git

[submodule "anarcrypt-tokens"]
	path = tokens
	url = git@github.com:RastaDjuss/anarcrypt-tokens.git
